.main{
    padding: 0px 100px;
}
.flex{
    display: flex;
}
.content{
    padding: 0px 30px;
    margin: 0px 10px;
    border: solid 2px;
    border-radius: 5px;
    border-color: #9b9b9b;
    width:100%;
}